.TodoItem-l-completed{
    text-decoration: line-through;
}

.task {
    text-align: inherit;
    overflow: auto;
    margin-bottom: 30px;
}

.texto {
    color: #fdfde3;
    font-size: 24px;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: inherit;
    align-items: inherit;
    height: 5px;
    background-color: #03d46c;
    border-radius: 10px;
    text-align: inherit;
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
}