.EmptyTodo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    margin-bottom: 150px;
    margin-top: 70px;
}

.empty-text{
    margin-bottom: 100px;
}