.check {
    display: inline-block;
    width: 30px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 30px; /* Ajusta la altura de la imagen según tus necesidades */
    background-image: url('C:\Users\evcpa\Desktop\CursoReact\curso-react-intro\Check.png'); /* Reemplaza 'ruta-de-la-imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    border: none; /* Elimina el borde del botón si lo hay */
    background-color: #008080;
    list-style: none;
}

.borrarT {
    display: inline-block;
    width: 30px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 30px; /* Ajusta la altura de la imagen según tus necesidades */
    background-image: url('C:\Users\evcpa\Desktop\CursoReact\curso-react-intro\uno.png'); /* Reemplaza 'ruta-de-la-imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    border: none; /* Elimina el borde del botón si lo hay */
    background-color: #008080;
    list-style: none;
}

.texto {
    color: #fdfde3;
    
}

.task {
    text-align: center;
}

