.check {
    display: inline-block;
    /*width: 40px; /* Ajusta el ancho de la imagen según tus necesidades */
    /*height: 40px; /* Ajusta la altura de la imagen según tus necesidades */
    background-size: cover; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    border: none; /* Elimina el borde del botón si lo hay */
    background-color: transparent;
    list-style: none;
}

.check-svg{
    width: 40px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 40px; /* Ajusta la altura de la imagen según tus necesidades */
}

.check:hover .check-svg circle{
    fill: #343434;
}

.check:hover .check-svg rect{
    fill: #0F5160;
}

.check:hover .check-svg .green {
    fill: #184E13;
}

.borrarT {
    display: inline-block;
    /*width: 30px; /* Ajusta el ancho de la imagen según tus necesidades */
    /*height: 30px; /* Ajusta la altura de la imagen según tus necesidades */
    background-size: cover; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-left: 10px; /* Espacio entre la imagen y el texto */
    margin-right: 50px;
    margin-bottom: -5px; /* Espacio entre la imagen y el texto */
    border: none; /* Elimina el borde del botón si lo hay */
    background-color: transparent;
    list-style: none;
}

.borrarT-svg{
    width: 30px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 30px; /* Ajusta la altura de la imagen según tus necesidades */
}

.borrarT:hover .borrarT-svg{
    fill: #FF0000;
}