h1 {
    font-size: 80px;
    text-align: center;
    color: #fdfde3;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line2 {
    border-bottom: 5px solid; 
    width: 600px;
    position: absolute;
    top: 15%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

h2 {
    font-size: 30px;
    color: #fdfde3;
    text-align: center;
}

h1, h2 {
    margin: 0;
    padding: 0;
}
